body {
  background-color: #0f172a;
  height: 100vh;
  width: 100%;
}

.part-three {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-bottom: 8%;
}

#title-part3 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 61.6px;
  text-align: center;
  align-items: center;
  color: white;
  justify-content: center;
}

.flex3-item {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 26.4px;
  text-align: left;
  color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#container-part3, #container-part4, #container-part5, #container-part6 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#description-part4, #description-part5, #description-part6 {
  color: white;
 
}


.highlighted-word {
  display: inline-block; 
  padding: 0 5px; 
  border: 3px solid #DC3D0A; 
  color: white; 
  font-weight: 800;
  font-size: 3rem;
  margin-top: 0;
}

#highlighted-letters{

  display: inline-block;  
  color: white; 
  font-weight: 800;
  font-size: 3rem;
  margin-top: 0;
  background-color: #BE185D;
  ;
}


#description-part4 {
  margin-top: 5%;
  width: 50%;
  margin-left: 5%;
  position: relative;
}

#description-part4 h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 0;
}

#description-part4 h1:before {
  font-size: 3rem;
  color: #C084FC;
  content: "Unlimited ";
}
#description-part6 h1:before {
  font-size: 3rem;
  color: #C084FC;
  content: "Target ";
}
#description-part4 h6 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

#description-part4 p {
  font-weight: 300;
  font-size: 1.5rem;
}

#description-part4 button {
  font-weight: 400;
  font-size: 1rem;
  background: transparent;
  color: white;
  border: none;
}

#img-part4 {
  width: 50%;
  margin-left: 10%;
  position: relative;
}

#description-part5 {
  margin-left: 5%;
}

#description-part5 h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 0;
  color: white;
}

#description-part5 h6 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
  color: white;
  letter-spacing: 2px;
}

#description-part5 p {
  font-size: 1.5rem;
  color: white;
}

#img-part5 {
  width: 100%; 
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 10%;
}

#container-part6 {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
}

#description-part6 {
  margin-top: 5%;
  width: 40%;
  margin-left: 5%;
}

#description-part6 h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 0;
}

#description-part6 h6 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

#description-part6 p {
  font-weight: 300;
  font-size: 1.5rem;
}

#description-part6 button {
  font-weight: 400;
  font-size: 1rem;
  background: transparent;
  color: white;
  border: none;
}

#img-part6 {
  padding-right: 20%;
}

@media (max-width: 768px) {
  .part-three {
    padding: 3%;
    padding-bottom: 5%;
  }

  #title-part3 {
    font-size: 1.5rem;
  }

  .flex3-item {
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    flex-direction: row;
    margin-bottom: 15px;
  }

  #container-part3 {
    flex-direction: row;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding-left: 60px;
    padding-right: 60px; */
  }

  #container-part4, #container-part5, #container-part6{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20%;
  }

  #description-part4 h1:before {
    font-size: 2rem;
    color: #C084FC;
    content: "Unlimited ";}

    #description-part6 h1:before {
      font-size: 2rem;
      color: #C084FC;
      content: "Target ";}
  

    .highlighted-word {
      display: inline-block; 
      padding: 0 5px; 
      border: 1.5px solid #DC3D0A; 
      color: white; 
      font-weight: 800;
      font-size: 2rem;
      margin-top: 0;
    }

    #highlighted-letters{

      display: inline-block;  
      color: white; 
      font-weight: 800;
      font-size: 2rem;
      margin-top: 0;
      background-color: #BE185D;
      ;
    }
    
  #description-part4, #description-part5, #description-part6 {
    width: 90%;
    margin-left: 0;
    text-align: center;
  }

  #description-part4 h1, #description-part5 h1, #description-part6 h1 {
    font-size: 2rem;
  }

  #description-part4 h6, #description-part5 h6, #description-part6 h6 {
    font-size: 0.9rem;
  }

  #description-part4 p, #description-part5 p, #description-part6 p {
    font-size: 0.8rem;
  }

  #img-part4, #img-part5, #img-part6 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #img-part4 {
   order:-1;
  }

  #img-part5 {
    width: 90%; 
    margin: 0 auto;
    margin-top: 5%;
  }
}


body{
 background-color: #0F172A;
}
.part-one{

  display: flex;
  justify-content: center;
}

.weeb{
  font-size: 150%;
  font-family: sans-serif;
  font-weight: 600;

}

.item2{
  font-size: 78%;
  /* font-weight: 600; */
  font-family: sans-serif;
  margin-top: 0.8%;

}
.joinNow{
  position: absolute;
  top: 5%;
  left: 68%; 
}

.login{
  position: absolute;
  top: 9%;
  left: 69%;
  font-size: 85%;
  list-style: none;

}
.part-one ul {
  padding: 1.3%;
  border-radius: 20px;
  list-style-type: none;
  overflow: hidden;
  background-color:#202233;
  width: 70%;
}

.part-one ul  li {
  float: left;
}

.part-one ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 21px;
  text-decoration: none;
}

.part-one ul li a:hover {
  background-color: #111;
}

.btnjoin{

  width: 222%;
  /* height: 139%; */
  padding: 29%;
  position: relative;
  left: 177%;
  height: 100%;
  top: 14px;
  border-radius: 6px;
  color: white;
  background: #9333EA;
  /* border-color: #9333EA; */
  border-style: none;
  font-size: 85%;
  float: left;
}
 .btnlog{
  color: white;
              /* background: black; */
  background-color:#202233;
 
              border-style: none;
              font-size: 100%;
 }

 .design-fatser{
  text-align: center;
  color: white;

 }
 .design-fatser-intern{
  font-size: 390%;
  font-family:RoboTo;
  font-weight: 600;
  margin-left: 0.3%;

 }
 .btnnow{
 
  padding: 1%;
  width: 11%;
  font-size: 95%; 
  border-radius: 5px;
  position: relative;
  /* margin-bottom: 6px; */
  margin-top: 0.5%;
  margin-left: 1%;
  font-family: Roboto;
 }
 .imgfaster{

  width: 100%;
  height: 600px;
  border-radius: 20px;
  margin-top: 8%;
 }
 .part-two{
  padding: 3.5%;
 }

.part-seven {
  background: rgba(15, 23, 42, 1);
  width: 100%;
  height: 80vh;
  padding: 80px 0 0 0;
  gap: 80px;
}

.part-seven-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  height: 100%; 
  padding: 0 5%; 
  box-sizing: border-box; 
}

.part-seven-item {
  margin-left: 5%;
  width: 30%;
}

#pt7-1 {
  color: rgba(255, 255, 255, 1);
  width: fit-content;
  height: fit-content;
  font-family: Roboto;
  font-size: medium;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  margin-top: 30%;
  margin-bottom: 2%;
}

#pt7-2 {
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  text-align: left;
  width: fit-content;
  margin-bottom: 8%;
}

#pt7-3 {
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  width: fit-content;
}

#pt7-img {
  margin-left: 5%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  flex-shrink: 0; 
}

#pt7-img img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px; 
}












.part-eight {
  background: rgba(88, 28, 135, 1);
  width: 100%;
  height: 90vh;
  padding: 80px 0px 0px 0px;
  gap: 80px;
}

.part-eight-container {
  display: flex;
}


#pt8-h1 {
  color: rgba(255, 255, 255, 1);
  width: fit-content;
  height: fit-content;
  font-family: Roboto;
  font-size: medium;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;

}

#pt8-h2 {
  color: rgba(255, 255, 255, 1);

  font-family: Roboto;
  font-size: xx-large;
  font-weight: 800;
  line-height: 61.6px;
  text-align: left;

}

#pt8-h3 {
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-size: small;
  font-weight: 500;
  line-height: 61.6px;
  text-align: left;

}
.pt8-column1{

  margin-left: 5%;
  text-align: center;
  justify-content: center;
  margin-top: 15%;
}

#pt8-button{
  background-color: rgba(88, 28, 135, 1); 
  border:none;
  
  
  
}
/* img{
  width:10px;
 
} */
.pt8-column2{
  width: 10%;
height: 1050px;

border-radius: 50px 0px 0px 0px;


}
#mobile-app-pic{
  width:fit-content;
  height: 90vh;
 align-items: center;
 justify-content: center;
 margin-left: 50%;
 margin-right: 50%;

}
.pt8-column3{
  width: 20%;

  margin-left: 22%;
  height:fit-content;
  margin-top: 15%;
  
}
#pt8-column3-h2{

  width:fit-content;
  height: fit-content;
}
#second-pic-pt8{
  width: 100%;
  height:5%;
}
#pt8-column3-h1{
  color: rgba(255, 255, 255, 1);
  margin-bottom: 4%;
}
