body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.part-seven {
    background: rgba(15, 23, 42, 1);
    width: 100%;
    height: 80vh;
    padding: 80px 0 0 0;
    gap: 80px;
}

.part-seven-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}

.part-seven-item {
    margin-left: 5%;
    width: 30%;
}

#pt7-1 {
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    height: fit-content;
    font-family: Roboto;
    font-size: medium;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    margin-top: 30%;
    margin-bottom: 2%;
}

#pt7-2 {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: left;
    width: fit-content;
    margin-bottom: 8%;
}

#pt7-3 {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    width: fit-content;
}

#pt7-img {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    width: 35%;
}

#pt7-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.part-eight {
    background: rgba(88, 28, 135, 1);
    width: 100%;
    height: 90vh;
    padding: 80px 0px 0px 0px;
    gap: 80px;
}

.part-eight-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* padding: 0 5%; */
    box-sizing: border-box;
}

.pt8-column1, .pt8-column2, .pt8-column3 {
    flex: 1; 
    padding: 10px;
    box-sizing: border-box;
}

.pt8-column1 {
    text-align: center;
    justify-content: center;
    margin-top: 15%;
}

#pt8-h1 {
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    height: fit-content;
    font-family: Roboto;
    font-size: medium;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
}

#pt8-h2 {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: xx-large;
    font-weight: 800;
    line-height: 61.6px;
    text-align: left;
}

#pt8-h3 {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: small;
    font-weight: 500;
    line-height: 61.6px;
    text-align: left;
}

#pt8-button {
    background: transparent;
    border: none;
}

.pt8-column2 {
    width: 10%;
    height: 1050px;
    border-radius: 50px 0px 0px 0px;
}

#mobile-app-pic {
    width: 100%; 
    height: fit-content;
    margin-left: 30%;
    align-items: center;
    justify-content: center;
   
}

.pt8-column3 {
    width: 20%;
    margin-left: 22%;
    height: fit-content;
    margin-top: 15%;
}

#pt8-column3-h1 {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 4%;
}

#pt8-column3-h2 {
    width: fit-content;
    height: fit-content;
}

#second-pic-pt8 {
    width: 100%;
    height: 5%;
}

.part-nine {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 80px 0 0 0;
    gap: 80px;
}

.pt9-row1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: 5%;
}

#pt9-row1-title {
    text-align: left;
    color: rgba(15, 23, 42, 1);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 1000;
    line-height: 61.6px;
    width: fit-content;
}

.pt9-row2 {
    width: 100%;
    height: auto;
}

.pt9-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 10px;
    width: 90%;
    margin: 0 auto; 
    height: auto;
}

.pt9-grid-item {
    text-align: center;
    padding: 20px 0;
    position: relative;
}

#pt9-first-image, #pt9-second-image, #pt9-third-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
}

#pt9-first-image img, #pt9-second-image img, #pt9-third-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#pt9-h1-text1, #pt9-h1-text2, #pt9-h1-text3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    text-align: left;
    color: rgba(15, 23, 42, 1);
    margin-top: 5%;
}

#pt9-h2-text1, #pt9-h2-text2, #pt9-h2-text3 {
    color: rgba(15, 23, 42, 1);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
    line-height: 44px;
    text-align: left;
}

#pt9-hidden-btn1, #pt9-hidden-btn2, #pt9-hidden-btn3 {
    color: rgba(147, 51, 234, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    background: transparent;
    border: none;
    margin-right: 69%;
}

#pt9-btn1-location, #pt9-btn2-location, #pt9-btn3-location {
    margin-left: 0px;
}

#pt9-row-btn-location {
    justify-self: end;
    margin-right: 22%; 
}

#pt9-row-btn {
    color: rgba(147, 51, 234, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    background: transparent;
    border: none;
    margin-bottom: 0%;
}


.corner-btn {
    position: absolute;
    top: 30px;
    left: 10px;
    background: rgba(243, 232, 255, 1);

    color: rgba(107, 33, 168, 1);

    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}


/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .part-seven-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        justify-content: center;
       
    }

    #pt7-img {
        width: 100%; 
        order: -1; 
        margin-bottom: 20px; 
    }

    #pt7-img img {
        width: 100%; 
        height: auto; 
    }

    .part-seven-item {
        width: 100%; 
    }

    #pt7-1 {
        margin-bottom: 8px; 
    }

    #pt7-2 {
        font-size: 20px; 
        margin-bottom: 12px;
    }

    #pt7-3 {
        font-size: 14px; 
        margin-bottom: 20px; 
    }

    .part-eight-container {
        flex-direction: column; 
        align-items: flex-start;
        padding: 20px;
    }

    .part-eight {
      
        height: 150vh;
        padding: 0px 0px 0px 0px;
       
    }




    .pt8-column1, .pt8-column2, .pt8-column3 {
        width: 100%; 
    }

    .pt8-column2 {
        order: 1; 
        display: flex;
        justify-content: center; 
    }

    .pt8-column3 {
        order: 2; 
        margin-top: 0px;
        margin-left: 0px;
    }

    #mobile-app-pic {
        width: 100%; 
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }

    #pt8-column3-h1 {
        font-size: 16px;
        width: 100%; 
        margin: 10px 0;
    }

    #pt8-column3-h2 {
        width: 100%;
        margin-top: 10px;
    }

    #second-pic-pt8 {
        width: 50%;
        height: auto;
    }

    .pt9-grid-container {
        grid-template-columns: 1fr; 
    }

    .pt9-grid-item {
        width: 100%;
        padding-bottom: 20px;
    }

    #pt9-row1-title, #pt9-h1-text1, #pt9-h1-text2, #pt9-h1-text3 {
        font-size: 20px;
    }

    #pt9-h2-text1, #pt9-h2-text2, #pt9-h2-text3 {
        font-size: 16px;
    }

    .pt9-row1 {
        display: block;
    }
}


